<html lang="en">
    <h1 style="background-color: cornsilk;color: crimson; font-size: 200%; text-align: center">Diabetes Check</h1>
    <body style="background-color: cornsilk; background-image: url(download.png);color:white; font-size:200%;"></body>
    <form action="/prediction">
        <p style=" color:black; font-size:100%;">
        NUmber of times pregnant         :<input type="int" name="a"><br/>
	Plasma glucose concentration     :<input type="int" name="b"><br/>
	Diastolic Blood Pressure (mm Hg) : <input type="int" name="c"><br/>
	Triceps skin fold thickness (mm) : <input type="int" name="d"><br/>
	2-Hour serum insulin (mu U/ml)   : <input type="int" name="e"><br/>
	Body mass index (kg/m2)          : <input type="int" name="f"><br/>
	Diabetes pedigree function       : <input type="int" name="g"><br/>
	Age                              : <input type="int" name="h"><br/>
        </p>
        <input type="submit" value="Get Result" style="text-align:center; font-size:100%; color:green">
        </form>
